<!DOCTYPE html>
<html lang="en-US">
  <head>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <link rel="stylesheet" href="main.css" />
    <title>SPC outlook | day {{ outlookDay }}</title>
  </head>
  <body>
    <in-visible>
      <svg viewBox="0 0 100 100" version="1.1"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <pattern id="hatched" patternUnits="userSpaceOnUse" width="12" height="12" patternTransform="rotate(-45 2 2)">
            <path d="M -1,2 l 8,0" stroke="#000000" stroke-width="2"/>
          </pattern>
        </defs>
      </svg>
    </in-visible>

    <header>
      <header-title>
      <h1>Outlook for day {{ outlookDay }}
        <small>
          Forecast from
          <time datetime="{{ data.thunderstorm.0.properties.valid }}">{{ data.thunderstorm.0.properties.valid }}</time>,
          to
          <time datetime="{{ data.thunderstorm.0.properties.expires }}">{{ data.thunderstorm.0.properties.expires }}</time>
        </small>
      </h1>
      </header-title>
      <header-navigation>
        {{#if prev}}
          <a href="{{ prev.url }}">« {{ prev.name }}</a>
          {{#if next}}
            |
          {{/if}}
        {{/if}}
        {{#if next}}
          <a href="{{ next.url }}">{{ next.name }} »</a>
        {{/if}}
      </header-navigation>
    </header>

    {{#with data.discussion}}
      {{#if headline}}
        <headline>
          {{ headline }}
        </headline>
      {{/if}}
    {{/with}}

    <tab-controller>
      {{#each types}}
      <tab-container name="{{.}}">
        <risk-map>
        {{#with (lookup ../data .)}}
          {{#each .}}
            <map-layer
              data="{{json .}}">
            </map-layer>
          {{/each}}
        {{/with}}
        </risk-map>
        <map-legend>
        </map-legend>
      </tab-container>
      {{/each}}
    </tab-controller>

    {{#with data.discussion}}
      <discussion>
      <h1>Discussion</h1>
      
      {{#each blocks}}
        <block>
          {{ block . }}
        </block>
      {{/each}}
      </discussion>
    {{/with}}
    <script type="module" src="main.js"></script>
  </body>
</html>